/* Phrases*/

.challenge__quote {
    height: 350px;
    position: relative;
}

.quote p {
    font-size: 25px;
    line-height: 35px;
    padding: 10px;
    width: 300px;
}

.challenge__button {
    font-size: 20px;
    position: absolute;
    margin-left: -107.5px;
    bottom: 150px;
    left: 50%;
    
}

.challenge__button a {
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 20px 30px;
    background: #272727;
    font-family: "Helvetica", "Arial", sans-serif;
}

.challenge__button--target a {
    background: #969696;
}