/*---- PROFIL ----*/
/*---- PROFIL ----*/
/*---- PROFIL ----*/
/*---- PROFIL ----*/

.profil {
    position: fixed;
}

.profil__photo {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 1px solid #2B374A;
    background: #33FFFF;
    background-image: url(../_img/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 95%;
    position: fixed;
    top: 40px;
    left: 50%;
    margin-left: -50px;
}

.profil__info {
    position: fixed;
    top: 170px;
    left: 50%;
    width: 262px;
    margin-left: -130px;
}

.pseudo {
    font-family: 'raleway_reg';
    font-size: 20px;
    text-align: center;
    line-height: 140%;
    color: #2B374A;
}

.mail {
    font-family: 'raleway_reg';
    font-size: 16px;
    text-align: center;
    line-height: 300%;
    padding-bottom: 40px;
    color: #2B374A;
}

.mdp {
    font-family: "ff-prater-script-web";
    font-size: 18px;
    display: inline;
    padding: 30px 51px;
    background: #33334a;
    color: #fff;
}

.profil__connecter {
    width: 160px;
    font-family: 'raleway_reg';
    font-size: 16px;
    position: fixed;
    top: 370px;
    text-align: center;
    left: 50%;
    margin-left: -80px;
}

.reseau {
    margin-top: 25px;
    margin-right: 20px;
    width: 32px;
    height: 32px;
    background: url(../_img/social.svg);
    display: inline-block;
}

.reseau:nth-child(3) {
    background-position: -32px;
}

.reseau:last-child {
    margin-right: 0px;
    background-position: -64px;
}

.boules {
    z-index: 1000;
    position: fixed;
    width: 64px;
    height: 12px;
    bottom: 60px;
    left: 50%;
    margin-left: -32px;
}

.ballFull, .ball {
    width: 10px;
    height: 10px;
    border-radius: 6px;
    border: 1px solid rgba(250,55,58,1);
    background: rgba(250,55,58,.5);
    float: left;
    margin-right: 5px;
}

.ball:last-child {
    margin-right: 0px;
}

.ballFull {
    position: absolute;
    background: rgba(250,55,58,.75);
}

.popup {
    width: 100%;
    height: 100vh;
    background: rgba(43,55,74,.75);
    position: fixed;
    z-index: 1900;
    -webkit-transform:translateY(-100%);
    -webkit-transition:all .5s ease-in;
}

.popup__show {
    -webkit-transform:translateY(0%);
}

.profil__nouveauMdP {
    z-index: 2000;
    width: 260px;
    height: 200px;
    background: #33334a;
    top: 50%;
    position: fixed;
    margin-top: -100px;
    left: 50%;
    margin-left: -130px;
}

button.changermdp {
    width: 150px;
    height: 50px;
    font-family: 'ff-prater-script-web';
    font-size: 25px;
    color: #33334a;
    border-radius: 0px;
    background: #3EFFEA;
    outline: none;
    position: absolute;
    bottom: 45px;
    left: 50%;
    margin-left: -75px;
    border: 0;
}

.entreNouveau {
    outline: none;
    font-family: 'raleway_reg';
    font-size: 12px;
    width: 180px;
    height: 25px;
    text-align: center;
    position: absolute;
    left: 50%; 
    margin-left: -90px;
    top: 30px;
}

.validation {
    position: fixed;
    font-family: 'raleway_light';
    font-size: 10px;
    color: #FFF;
    background: #33334a;
    padding: 9px;
    width: 100%;
    text-align: center;
    display: none;
}

.validation__show {
    display: block;
}

/*---- FIN PROFIL ----*/
/*---- FIN PROFIL ----*/
/*---- FIN PROFIL ----*/
/*---- FIN PROFIL ----*/