.container {
    width: 100%;
    height: 100vh;
}

.header {
    width: 100%;
    height: 17.3%;
    background: #ccc;
    position: relative;
    top: 0;
    z-index: 4;
}

.header__name {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 30px;
    font-weight: 100;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    padding-top: 15px;
}

.header__baseLine {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 10px;
    font-weight: 100;
    color: #000;
    text-align: center;
    margin-top: 18px;
}

.content {
    height: 68.5vh;
    position: relative;
}

.easy {
    width: 100%;
    height: 33.3333333%;
    background: #fff;
    position: relative;
}

.hard {
    width: 100%;
    height: 33.3333333%;
    background: #fff;
    position: relative;
}

.yolo {
    width: 100%;
    height: 33.3333333%;
    background: #fff;
    position: relative;
}

.selection {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 100%;
    text-align: center;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: 100;
    font-size: 25px;
    color: #000;
}

.nav {
    background: #ccc;
    height: 14.6%;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.nav__el {
    float: left;
    width: 25%;
    text-align: center;
    padding-top: 60px;
}

.nav__el a {
    padding: 70px 10px 0px 10px;
    text-decoration: none;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    color: #444;
}

.btn__home {
    background: url("../_img/home.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.btn__challenge {
    background: url("../_img/challenge.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.btn__players {
    background: url("../_img/players.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.btn__profil {
    background: url("../_img/profil.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.btn__home--active {
    background: url("../_img/home_active.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.btn__challenge--active {
    background: url("../_img/challenge_active.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.btn__players--active {
    background: url("../_img/players_active.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.btn__profil--active {
    background: url("../_img/profil_active.svg");
    background-repeat: no-repeat;
    background-position: center;
}