/*---- LOAD ----*/
/*---- LOAD ----*/
/*---- LOAD ----*/
/*---- LOAD ----*/

.loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo{
  background: url(../_img/logo_loading.svg);
  background-size:100%;
  background-repeat: no-repeat;
  height: 250px;
  width: 250px;
  position: absolute;
  top: 159px;
  left: 0 auto;
  right: 0 auto;
  margin-left: 35px;
}

.progressBar {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    height: 15px;
    border: 1px solid red;
    background: url(../_img/barre_loading.svg);
    background-repeat: no-repeat;
    background-position: -190px;
}

.progressBar_active {
    -webkit-animation: progressBar 2.5s cubic-bezier(0,.36,.47,.87);
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes progressBar {
    0% {
        opacity: 1;
        background-position: -190px;
    }
    
    80% {
        opacity: 1;
        background-position: 0px;
    }
    
    90% {
        opacity: 1;
        background-position: 0px;
    }
    100% {
        opacity: 0;
        background-position: 0px;
    }
}

.background{
  background:#33FFFF;
  height: 100%;
  width: 320px;
  position: fixed;
  top: 0; 
  left: 0;
}

.background__active{
  -webkit-animation:background .75s ease-out;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes background {
  50%, 55% {
    background: #33FFFF;
  }

  100% {
    background: none;
  }
}

.logo__active{
  -webkit-animation:chargement .75s ease-out;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes chargement {
    
        20% {
        -webkit-transform: scale3d(.8, .8, .8);
                transform: scale3d(.8, .8, .8);
        }

      50%, 55% {
        opacity: 1;
        -webkit-transform: scale3d(1.2, 1.2, 1.2);
                transform: scale3d(1.2, 1.2, 1.2);
        }

    55% {
        height: 250px;
        width: 250px;
        position: absolute;
        top: 159px;
        left: 0 auto;
        right: 0 auto;
        margin-left: 35px;

       -webkit-transform: rotate(-90deg);
        }

    99% {
        -webkit-transform: scale3d(1.2, 1.2, 1.2);
                transform: scale3d(1.2, 1.2, 1.2);
        height: 104px;
        width: 115px;
        position: absolute;
        top: 300px;
        left: auto;
        right: 0 auto;
        margin-left: 20px;

        -webkit-transform: rotate(-360deg);
        }

    100% {
        -webkit-transform: scale3d(1.2, 1.2, 1.2);
                transform: scale3d(1.2, 1.2, 1.2);
        height: 104px;
          width: 115px;
          position: absolute;
          top: 300px;
          left: auto;
          right: 0 auto;
          margin-left: 20px;

          -webkit-transform: rotate(-360deg);
        }
}

.loading_hid {
    display: none;
}


/*---- FIN LOAD ----*/
/*---- FIN LOAD ----*/
/*---- FIN LOAD ----*/
/*---- FIN LOAD ----*/

/*---- NAV ----*/
/*---- NAV ----*/
/*---- NAV ----*/
/*---- NAV ----*/

nav {
    position: fixed;
    bottom: 0;
    height: 48px;
    width: 100%;
    border-top: 2px solid #2b374a;
    z-index: 20;
}

.nav__el {
    width: 80px;
    height: 50px;
}

.nav__el {
    float: left;
    width: 25%;
    text-align: center;
    font-family: 'raleway_reg';
    font-size: 12px;
    padding-top: 32px;
    padding-bottom: 5px;
    color: #2b374a;
    background: url('../_img/bg_no_active.svg');
    background-repeat: no-repeat;
    background-position-y: 3px;
    background-color: #33FFFF;
}

.active {
    color: #33FFFF;
    background: url('../_img/bg_active.svg');
    background-repeat: no-repeat;
    background-position-y: 3px;
    background-color: #2b374a;
}

.nav__el:nth-child(2) {
    background-position-x: -80px;
}

.nav__el:nth-child(3) {
    background-position-x: -160px;
}

.nav__el:nth-child(4) {
    background-position-x: -240px;
}

/*---- FIN NAV ----*/
/*---- FIN NAV ----*/
/*---- FIN NAV ----*/
/*---- FIN NAV ----*/



/*---- HOME ----*/
/*---- HOME ----*/
/*---- HOME ----*/
/*---- HOME ----*/


/*---- HOME ----*/
/*---- HOME ----*/
/*---- HOME ----*/
/*---- HOME ----*/

body {
    background: url('../_img/palmier.svg');
    background-position: left bottom;
    background-repeat: repeat-y;
}

.jauge {
    position: absolute;
    width: 280px;
    text-align: center;
    top: 40px;
    left: 50%;
    margin-left: -140px;
}

.jauge__el--coeurbriser {
    width: 20px;
    height: 17px;
    background: url(../_img/coeurs_jauge.svg);
    display: inline-block;
    margin-right: 11px;
}

.jauge__el--coeurplein{
    width: 20px;
    height: 17px;
    background: url(../_img/coeurs_jauge.svg);
    background-position: -20px;
    display: inline-block;
    margin-left: 11px;
}

.jauge__el--contour {
    width: 200px;
    height: 11px;
    border: 1px solid #fa373a;
    display: inline-block;
}

.jauge__el--remplis {
    height: 11px;
    width: 0px;
    background: #33FFFF;
}

.random__logo {
    width: 32px;
    height: 32px;
    position: fixed;
    top: 170px;
    background: url('../_img/swipeLogo.svg');
    display: inline-block;
}

.moins {
    left: 20px;
}

.plus {
    background-position: -32px;
    right: 20px;
    margin-right: 0;
    margin-left: 10px;
}

.random__texte {
    width: 180px;
    display: inline-block;
}

.random {
    position: fixed;
    width: 272px;
    top: 165px;
    left: 50%;
    margin-left: -136px;
}

.random__texte--el {
    position: fixed;
    top: 185px;
    left: 50%;
    margin-left: -90px;
    width: 180px;
    line-height: 140%;
}

.buttonSmack {
    height: 110px;
    background: #fff;
    width: 100%;
    position: fixed;
    top: 350px;
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.25);
}

.button__texte {
    font-family: "ff-prater-script-web";
    font-size: 32px;
    display: inline;
    padding: 19px 65px;
    background: #33334a;
    color: #fff;
    position: absolute;
    top: 50%;
    margin-top: -45px;
    left: 50%;
    margin-left: -130px;
}

.button__texte--active {
    background: #33FFFF;
    color: #2C374B;
}

.button__logo {
    width: 115px;
    height: 104px;
    background: url(../_img/logo.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: -50px;
    left: 20px;
    z-index: 2;
}

/*---- FIN HOME ----*/
/*---- FIN HOME ----*/
/*---- FIN HOME ----*/
/*---- FIN HOME ----*/


/*---- ACCEPTED ----*/
/*---- ACCEPTED ----*/
/*---- ACCEPTED ----*/
/*---- ACCEPTED ----*/

.buttonChoice {
    height: 110px;
    background: #fff;
    width: 100%;
    position: fixed;
    top: 350px;
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.25);
    -webkit-transform: translateX(100%);
    -webkit-transition: .3s ease-out;
}

.buttonChoice__show {
    -webkit-transform: translateX(0%);
}

.random__logo--hid {
    display: none;
}

.buttonSmack__hid{
    -webkit-transform: translateX(-100%);
    -webkit-transition: .3s ease-out;
}

.rate {
    width: 59px;
    height: 71px;
    position: fixed;
    top: 50%;
    left: 52px;
    margin-top: -35.5px;
    background: url(../_img/coeurs_bouton.svg);
    background-repeat: no-repeat;
}

.reussi {
    width: 59px;
    height: 71px;
    position: fixed;
    top: 50%;
    right: 52px;
    margin-top: -35.5px;
    background: url(../_img/coeurs_bouton.svg);
    background-repeat: no-repeat;
    background-position: -59px 0px;
}

.rate__texte, .reussi__texte {
    padding-top: 50px;
    text-align: center;
    font-family: 'raleway_reg';
    color: #ff3333;
}

.arrive {
    -webkit-animation: arrive .3s cubic-bezier(.01,.82,.4,.58);
}

@-webkit-keyframes arrive {
    0%{-webkit-transform:translateX(0px);}
    30%{-webkit-transform:translateX(-15px);}
    60%{-webkit-transform:translateX(10px);}
    100%{-webkit-transform:translateX(0px);}
}

/*---- FIN ACCEPTED ----*/
/*---- FIN ACCEPTED ----*/
/*---- FIN ACCEPTED ----*/
/*---- FIN ACCEPTED ----*/