body {
    width: 100%;
    height: 548px;
    margin: 0 auto;
    background: #c1c1c1;
    overflow-y: scroll;
}



.home {
    text-align: center;
}

.header {
    height: 100px;
    background: #404040;
    color: #fff;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.header__titre {
    text-transform: uppercase;
    padding: 10px;
    font-size: 3em;
    font-weight: 100;
}

.header__baseLine {
    text-transform: uppercase;
    padding-bottom: 5px;
    font-size: 10px;
}

.selecteur__nav--element {
    padding: 50px 0px;
}

.selecteur__nav--element:nth-child(1) {
    padding-top: 70px;
}

.selecteur__nav--element a {
    text-decoration: none;
    padding: 30px 145px;
    width: 100%;
    background: #141414;
    color: white;
}

/** ----- Fin Home ----- **/
/** ----- Fin Home ----- **/
/** ----- Fin Home ----- **/
/** ----- Fin Home ----- **/