.template {
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -200px;
}

.container {
    width: 320px;
    height: auto;
    margin: 0 auto;
    margin-top: 122px;
    background: #c1c1c1;
}

/** ----- Home ----- **/
/** ----- Home ----- **/
/** ----- Home ----- **/
/** ----- Home ----- **/





/** ----- Fin Home ----- **/
/** ----- Fin Home ----- **/
/** ----- Fin Home ----- **/
/** ----- Fin Home ----- **/