
/** ----- Nav ----- **/
/** ----- Nav ----- **/
/** ----- Nav ----- **/
/** ----- Nav ----- **/



.nav {
    background: #AFFEFB;
    height: 110px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.nav__el {
    float: left;
    width: 25%;
    text-align: center;
    padding-top: 90px;
}

.nav__el a {
    padding: 90px 10px 0px 10px;
    text-decoration: none;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    color: #EE929F;
}

.btn__home {
    background: url("../_img/home.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.btn__challenge {
    background: url("../_img/challenge.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.btn__players {
    background: url("../_img/players.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.btn__profil {
    background: url("../_img/profil.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.btn__home--active {
    background: url("../_img/home_active.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.btn__challenge--active {
    background: url("../_img/challenge_active.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.btn__players--active {
    background: url("../_img/players_active.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.btn__profil--active {
    background: url("../_img/profil_active.svg");
    background-repeat: no-repeat;
    background-position: center;
}


/** ----- Fin Nav ----- **/
/** ----- Fin Nav ----- **/
/** ----- Fin Nav ----- **/
/** ----- Fin Nav ----- **/