/*---- HOME ----*/
/*---- HOME ----*/
/*---- HOME ----*/
/*---- HOME ----*/

body {
    background: url('../_img/palmier.svg');
    background-position: left bottom;
}

.jauge {
    position: absolute;
    width: 280px;
    text-align: center;
    top: 40px;
    left: 50%;
    margin-left: -140px;
}

.jauge__el--coeurbriser {
    width: 20px;
    height: 17px;
    background: url(../_img/coeurs_jauge.svg);
    display: inline-block;
    margin-right: 11px;
}

.jauge__el--coeurplein{
    width: 20px;
    height: 17px;
    background: url(../_img/coeurs_jauge.svg);
    background-position: -20px;
    display: inline-block;
    margin-left: 11px;
}

.jauge__el--contour {
    width: 200px;
    height: 11px;
    border: 1px solid #fa373a;
    display: inline-block;
}

.jauge__el--remplis {
    height: 11px;
    width: 0px;
    background: #3effea;
}

.random__logo {
    width: 32px;
    height: 32px;
    position: fixed;
    top: 170px;
    background: url('../_img/swipeLogo.svg');
    display: inline-block;
}

.moins {
    left: 20px;
}

.plus {
    background-position: -32px;
    right: 20px;
    margin-right: 0;
    margin-left: 10px;
}

.random__texte {
    width: 180px;
    display: inline-block;
}

.random {
    position: fixed;
    width: 272px;
    top: 165px;
    left: 50%;
    margin-left: -136px;
}

.random__texte--el {
    position: fixed;
    top: 185px;
    left: 50%;
    margin-left: -90px;
    width: 180px;
    line-height: 140%;
}

.button {
    height: 110px;
    background: #fff;
    width: 100%;
    position: fixed;
    top: 350px;
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.25);
}

.button__texte {
    font-family: "ff-prater-script-web";
    font-size: 32px;
    display: inline;
    padding: 19px 65px;
    background: #33334a;
    color: #fff;
    position: absolute;
    top: 50%;
    margin-top: -45px;
    left: 50%;
    margin-left: -130px;
}

.button__logo {
    width: 115px;
    height: 104px;
    background: url(../_img/logo.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: -50px;
    left: 20px;
    z-index: 2;
}

/*---- FIN HOME ----*/
/*---- FIN HOME ----*/
/*---- FIN HOME ----*/
/*---- FIN HOME ----*/