.container {
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
    height: 17.3%;
    background: #D83B1C;
    position: relative;
    top: 0;
    z-index: 4;
}

.header__name {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 30px;
    font-weight: 100;
    text-transform: uppercase;
    color: #F9DCAC;
    text-align: center;
    padding-top: 15px;
}

.header__baseLine {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 10px;
    font-weight: 100;
    text-transform: uppercase;
    color: #F9DCAC;
    text-align: center;
    margin-top: 18px;
}

.content {
    height: 68%;
    position: relative;
}

.easy {
    width: 100%;
    height: 33.3333333%;
    background: #F9DCAC;
    position: relative;
}

.hard {
    width: 100%;
    height: 33.3333333%;
    background: #EFAB7F;
    position: relative;
}

.yolo {
    width: 100%;
    height: 33.3333333%;
    background: #E26945;
    position: relative;
}

.selection {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: 100;
    font-size: 25px;
    text-transform: uppercase;
    color: #D83B1C;
}

.yolo>.selection {
    color: #F9DCAC;
}

.nav {
    background: #F9DCAC;
    height: 14.6%;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.nav__el {
    float: left;
    width: 25%;
    text-align: center;
    padding-top: 60px;
}

.nav__el a {
    padding: 70px 10px 0px 10px;
    text-decoration: none;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    color: #D83B1C;
}

.btn__home {
    background: url("../_img/home.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.btn__challenge {
    background: url("../_img/challenge.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.btn__players {
    background: url("../_img/players.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.btn__profil {
    background: url("../_img/profil.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.btn__home--active {
    background: url("../_img/home_active.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.btn__challenge--active {
    background: url("../_img/challenge_active.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.btn__players--active {
    background: url("../_img/players_active.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.btn__profil--active {
    background: url("../_img/profil_active.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.selection__active {
    -webkit-animation: selection__active .5s ease-in;
}

@-webkit-keyframes hid_text {
    0% {opacity: 1;}
    80% {opacity: 0;}
    100% {opacity: 0;}
}

.show__text {
    -webkit-animation: show_text .5s ease-in;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes show_text {
    0% {opacity: 0;}
    80% {opacity: 1;}
    100% {opacity: 1;}
}

.show {
    -webkit-animation: show .5s ease-in;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes show {
    0% {-webkit-transform: translateY(-120%);}
    100% {-webkit-transform: translateY(0%);}
}