.container {
    width: 100%;
    height: 548px;
}

.player {
    width: 90%;
    padding: 5%;
    background: #EE929F;
    margin: 0 auto;
    font-family: 'Helvetica', 'Arial', sans-serif;
    position: relative;
}

.player:nth-child(even) {
    background: #AFFEFB;
}

.pseudo {
    font-size: 20px;
    font-weight: 100;
    text-transform: uppercase;
}

.phrase {
    width: 60%;
    font-size: 14px;
}

.picture {
    width: 40px;
    height: 40px;
    background: grey;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    right: 25%;
}

.score {
    width: 40px;
    height: 40px;
    background: grey;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    right: 5%;
    border-radius: 20px;
}

.picture__active {
    position: absolute;
    z-index: 1000;
/*    box-shadow: 0px 0px 100px 80px rgba(0,0,0,0.75);*/
    
    -webkit-animation: pictureActive .5s ease-in;
    -webkit-animation-fill-mode: forwards;
}

.player__active {
    -webkit-animation: playerActive .5s ease-in;
    -webkit-animation-fill-mode: forwards;
}

.score__active {
    top: 50px;
}

@-webkit-keyframes playerActive {
    0% {height: 87px;}
    100% {height: 400px;}
}

@-webkit-keyframes pictureActive {
    0% {
        width: 40px;
        height: 40px;
        top:50%;
        margin-top: -20px;
        right: 25%;
    }
    
    100% {
        width: 200px;
        height: 300px;
        margin-top: -120px;
    }
}